_site
.sass-cache
.DS_Store
.jekyll-metadata

# Ignore the config file that's used for gh-pages.
_config.gh-pages.yml

# Ignore the cache that Jekyll uses for local webserver use.
.jekyll-cache

Gemfile.lock
